{% extends 'layout.html' %}
{% block content %}
    <h1>Star Wars Universe Planets</h1>
    <div class="container">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Diameter</th>
                    <th scope="col">Climate</th>
                    <th scope="col">Terrain</th>
                    <th scope="col">Surface water %</th>
                    <th scope="col">Population</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>
    </div>




{% endblock %}