{% extends "layout.html" %}
{% block content %}
    {% include 'navbar.html' %}

    <div class="container" id="header">
        <div class="row">
            <div class="col">
                <button id="previous" class="btn btn-dark">Previous</button>
                <h1>STAR WARS UNIVERSE PLANETS</h1>
                <button id="next" class="btn btn-dark">Next</button>
            </div>
        </div>
    </div>
        <table class="table table-striped table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">DIAMETER</th>
                <th scope="col">CLIMATE</th>
                <th scope="col">TERRAIN</th>
                <th scope="col">SURFACE WATER</th>
                <th scope="col">POPULATION</th>
                <th scope="col">ACTIONS</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>


    <div class="container text-center ">
        <div class="row">
            <div class="col col-lg col-center">
                <a id="top" href="#top" class="btn btn-primary">
                    Go Top
                </a>
            </div>
        </div>
    </div>
    <!-- Modal -->


    {% include 'residents.html' %}
    {% include 'registration.html' %}
    {% include 'login.html' %}

{% endblock %}