{% block content %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <ul class="navbar-nav nav">
            <li class="nav-item">
                <a id="home" class="nav-link active" id="SWU">SWU</a>
            </li>
            <li class="nav-item">
                <a href="#votesModal" id="navbarVotes" class="nav-link" data-toggle="modal"
                data-target="#votesModal">VOTING STATS</a>
            </li>


        </ul>
        <ul class="nav navbar-nav ml-auto">
            {% if not logged_in %}
                <li class="nav-item">
                    <a href="#registrationModal" id="navbarRegistration" class="nav-link" data-toggle="modal"
                       data-target="#registrationModal">Sign Up</a>
                </li>
            {% endif %}
            {% if logged_in %}
                <li class="nav-item">
                    <a class="nav-link">Logged in as:{% if session.username %}{{ session.username }}{% endif %}</a>
                </li>
            {% endif %}
            {% if logged_in %}
                <li class="nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                </li>
            {% endif %}
            {% if not logged_in %}
                <li class="nav-item">
                    <a href="#loginModal" id="navbarLogin" class="nav-link" data-toggle="modal"
                       data-target="#loginModal">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}